---
import type { CollectionEntry } from "astro:content";
import { getLanguageFromId } from "@/i18n";
import { tt } from "../i18n";

interface Props {
  entry: CollectionEntry<"pages">;
}

const { entry } = Astro.props;
const language = getLanguageFromId(entry.id);
const tpl = tt(language);
const { title, description, link } = entry.data;
---

<section class="section">
  <h1>{title}</h1>
  {description && <p class="tpl-muted mb-4">{description}</p>}
  {link && (
    <a
      href={link}
      target="_blank"
      rel="noopener"
      class="tpl-button no-underline"
    >
      {tpl.visitLink} ->
    </a>
  )}
</section>

<slot />
