---
import { getRelativeLocaleUrl } from "astro:i18n";
import { languages, defaultLanguage, type LanguageCode } from "@/config/site";
import { t } from "@/i18n";
import { loadTemplateLayout } from "@/templates";

const seg = Astro.url.pathname.split("/")[1];
const lang: LanguageCode = languages.includes(seg as LanguageCode) ? (seg as LanguageCode) : defaultLanguage;
const Layout = await loadTemplateLayout();
---

<Layout title="404" language={lang}>
  <div class="flex flex-col items-center justify-center py-24 text-center">
    <div class="text-5xl font-semibold">404</div>
    <p class="tpl-muted mt-2">
      Page not found - <a href={getRelativeLocaleUrl(lang, "")} class="tpl-link">{t(lang).homeLabel}</a>
    </p>
  </div>
</Layout>
